*, *::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font: 16px Georgia;
  width: 100%;
}
body {
  max-width: 1300px;
  position: relative;
}
.wrapper {
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
header {
  width: 100%;
  height: 45vw;
  min-height: 45vw;
  background: black
}
nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  min-height: 75px;
  max-height: 100px;
  background-color: #FCFFF5;
  border-bottom: 4px solid #91BF8A;
  font-family: 'Oswald', sans-serif;
  padding-left: 20px;
}
h1 {
  color: #575C49;
  font-size: 3.8vw;
  -webkit-animation: headIn 1.0s ease-in-out;
  animation: headIn 1.0s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  transition: all 0.6s ease-in-out;
}
ul {
  display: flex;
  list-style: none;
  color: #003D5C;
  font-size: 1.2em;
  -webkit-animation: slideIn 1.0s ease-in-out;
  animation: slideIn 1.0s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
a {
  color: #003D5C;
  background-color: inherit;
  text-decoration: none;
  margin: auto;
  min-height: 75px;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.6s ease-in-out;
}
a:hover {
  background-color: #91BF8A;
  color: #FCFFF5
}
a:first-child {
  -webkit-animation: slideIn 0.7s ease-in-out;
  animation: slideIn 0.7s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
a:nth-child(2) {
  -webkit-animation: slideIn 1.0s ease-in-out;
  animation: slideIn 1.0s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
a:nth-child(3) {
  -webkit-animation: slideIn 1.3s ease-in-out;
  animation: slideIn 1.3s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
a:nth-child(4) {
  -webkit-animation: slideIn 1.6s ease-in-out;
  animation: slideIn 1.6s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
a:nth-child(5) {
  -webkit-animation: slideIn 1.9s ease-in-out;
  animation: slideIn 1.9s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.hero {
  height: 39vw;
  min-height: 39vw;
  background-color: black;
  background: rgba(0,50,64,0.2) url('adk.jpg') no-repeat 0 -50px / 100% auto;
  background-attachment: fixed;
  font-family: 'Oswald', sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content:  space-around;
  -ms-flex-pack: center;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
}
h2 {
  color: #000;
  font-size: 4.5vw;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #fff;
  -webkit-animation: slideIn 1.5s ease-in-out;
  animation: slideIn 1.5s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
h3 {
  font: 3.8vw 'PT Serif', serif;
  font-size: 2.2em;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row nowrap;
  width: 100%;
}
h3::after, h3::before {
  content: '';
  height: 2px;
  width: 10%;
  background-color: #003D5C
}
button {
  color: #FCFFF5;
  padding: 20px;
  outline: 0;
  border: 4px solid #FCFFF5;
  font: 3.8vw 'PT Serif', serif;
  background-color: rgba(0,0,0,0.5);
  -webkit-animation: buttonIn 1.5s ease-in-out;
  animation: buttonIn 1.5s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  transition: all 0.6s ease-in-out;
}
button:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.9);
}
section {
  width: 100%;
  background-color: #fff;
  height: 100%;
  display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    align-content: center;
    position: relative;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  text-align: left;
}
section:first-of-type {
  min-height: 200px;
}
section:nth-of-type(2), section:nth-of-type(3) {
  min-height: 400px;
  display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    align-content: center;
    position: relative;
    justify-content: center;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
section img {
  margin: 4px;
  flex: 1;
}
article {
  flex: 1;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
    position: relative;
    justify-content: center;
    background-color: #FCFFF5;
}
footer {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    align-content: center;
    position: relative;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  text-align: left;
}
footer article {
  background-color: #575C49;
}
footer p {
  margin: auto;
}
@-webkit-keyframes slideIn {
    0%{
      opacity: 0;
      -webkit-transform: translateY(100px);
    }
    50%{
      opacity: 0.5
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes buttonIn {
    0%{
      opacity: 0;
      -webkit-transform: scale(0);
    }
    
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
    }
}
@-webkit-keyframes headIn {
    0%{
      opacity: 0;
      -webkit-transform: translateX(-100px);
    }
    
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
 @keyframes slideIn {
    0%{
      opacity: 0;
      transform: translateY(100px);
    }
    50%{
      opacity: 0.5
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes buttonIn {
    0%{
      opacity: 0;
      transform: scale(0);
    }
    
    100% {
      opacity: 1;
      transform: scale(1);
    }
}
@keyframes headIn {
    0%{
      opacity: 0;
      transform: translateX(-100px);
    }
    
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}