*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
html, body {
  height: 100%;
}
body {
  background: url('photography.png');
  position: relative;
  margin: 0 auto;
}
#wrapper {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  min-height: 100%;
}
a, a:visited {
  text-decoration: none;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.arrow-up2 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  display: block;
  border-bottom: 20px solid #B22222;
  opacity: 0.7;
  position: fixed;
  right: 1.5%;
  bottom: 5%;
  transition: all 0.5s ease-in-out;
  background: transparent;
  z-index: 99999
}
.arrow-up2:hover {
  -webkit-transform: scale(1.5,1.5);
  transform: scale(1.5,1.5);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.arrow-up2:active {
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8) translateY(5px);
  transform: scale(0.8) translateY(5px);
}
nav {
  background: rgba(0,50,64,0.6);
  position: relative;
  font: 300 1.2em 'Oswald', serif;
}
nav ul {
  display: -webkit-flex;
  display: flex;
}
nav ul li {
  list-style: none;
  -webkit-flex: 1;
  flex: 1;
}
nav ul li:last-child {
  border-right: none;
}
nav a {
  display: block;
  padding: 0.5em 0;
  color: white;
  transition: background 0.3s ease-in-out;
}
nav a:visited {
  color: white;
  text-decoration: none
}
nav a:hover {
  background: rgba(0,50,64,0.8);
}
#above, #below {
  min-height: 50px;
  width: 100%;
  background: rgba(0,50,64,0.4);
  position: relative;
  z-index: 500;  
}
header, #home {
  background: url('background.jpg') no-repeat 0 0 / 100% auto;
  background-attachment: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-flow: column nowrap;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 4;
  height: 28vw;
}
header a {
  color: rgb(255,255,255);
  transition: all 0.3s ease-in-out;
}
header a:visited {
  color: rgb(255,255,255);
}
header a:hover {
  color: rgba(0,50,64,0.8);
  background: rgba(235,247,255,0.7);
}
h1 {
  line-height: 1;
  font: 2.8vw 'Oswald', sans-serif;
  -webkit-align-self: center;
  align-self: center;
}
h1 > a {
  padding: 0.5em;
  background: rgba(0,50,64,0.4);
}
#totalsList {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: rgba(0,50,64,0.4);
  position: relative;
  z-index: 200;
  padding: 0;
  width: 100%;
}
#totalsList li {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
  list-style: none;
  transition: all 0.5s ease-in-out;
  color: black;
  padding: 10px 5px 10px 10px;
  background: rgba(245,225,225,0.75);
  font: 1.6vw 'Oswald', sans-serif;
  position: relative;
  overflow: hidden
}
#totalsList span {
  border: none;
  font: inherit;
  border-radius: none;
  padding: 0
}
#totalsList li:nth-child(3n), #totalsList li:nth-child(3n):hover {
  background: rgba(0,50,64,0);
  font-size: 1.8em;
  font-family: Arial;
  color: white;
  display: inherit;
  padding: 0;
  margin-right: auto
}
#totalsList li:nth-child(even):hover {
  -webkit-transform:rotate(720deg); 
  transform:rotate(720deg);
}
.spinner {
  background-color:rgb(63,137,169);
  width: 80px;
  height: 80px;
  display: inline-block; 
  position: absolute;
  top: 	calc(50% - 40px);
  left: calc(50% - 40px);
  border-radius: 100%;  
  -webkit-animation: scaleout 1.5s infinite ease-in-out;
  animation: scaleout 1.5s infinite ease-in-out;
}
.count {
  color: rgb(63,137,169) !important;
  padding: 0 !important;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 2s, padding 0.5s ease-in-out !important;
  margin-right: auto;
}
.expand {
  max-width: 60px;
  padding-right: 5px !important
}
#countLastBefore {
  padding-right: 10px;
  transition: transform 0.5s ease-in-out !important;
}
#countLastAfter {
  padding-right: 10px;
  transform: translateX(-200%);
  transition: transform 1s ease-in-out !important;
}
.move-count-last-after {
  transform: translateX(0) !important
}
.move-count-last-before {
  transform: translateX(200%)
}
#introSection {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.updates__title, .updates__article {
  width: 60%;
  margin: 20px auto 0 auto;
}
.updates__title {
  font: 200 2.3em Oswald, sans-serif;
  color: rgb(41, 83, 54);
}
.updates__article {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.updates__date {
  color:rgb(127, 49, 125);
  font-size: 1.1em;
  line-height: 1;
}
.updates__article .updates__content {
  font: 1.2em Georgia, sans-serif;
  line-height: 1.7;
  text-align: left;
  padding-bottom: 0;
}
footer {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: #222c3a;
  margin-top: 20px;
}
footer article {
  -webkit-flex: 1;               
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  position: relative;
  justify-content: flex-start;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  padding: 20px
}
h3 {
  color: #7accc8;
  font: 1.6em 'Oswald', sans-serif;
}
footer p {
  color: #FFF;
  font: 100 0.9em/180% Georgia !important;
  text-align: left !important;
}
.footerLink {
  color: #7accc8 !important;
  padding-bottom: 2px;
  border-bottom: 1px solid #7accc8;
  transition: all 0.5s ease-in-out;
}
.footerLink:hover {
  border-bottom: 0 solid transparent;
}
.footeLink:visited {
  color: #7accc8;
}
em {
  color: #BDB76B;
}
em::after {
  content: ':';
  font-size: 1.2em
}
input {
  display: block;
  margin: 20px auto;
  width: 100%;
  font-size: 1.2em;
  padding: 2px;
  transition: border 0.3s ease-in-out;
}
input[type=submit] {
  display: inline-block;
  width: 70px;
  font: 1.3em 'Oswald', sans-serif;
  background: #7accc8;
  border: 0;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
input[type=submit]:hover {
  cursor: pointer;
  -webkit-transform: scaleY(1.2);
  transform: scaleY(1.2);
}
textarea {
  height: 50px;
  width: 100%;
  max-width: 100%;
  display: block;
  font-size: 1.2em;
  padding: 2px;
  transition: border 0.3s ease-in-out;
}
input:focus, textarea:focus {
  border: 2px solid DarkGreen;
}
#firstSection, #pageSection {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  position: relative;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: left;
}
#firstSection article:first-child, #firstSection article:nth-child(2) {  
  font: 100 1.2em/200% Georgia;
  padding: 20px 2% 10px 2%;
  background:rgba(63,107,169,0.3);
  width: 50%;
  -webkit-flex: 1;                
  flex: 1;
}
#firstSection article:nth-child(2){ 
  background:rgba(63,137,169,0.5);
}
#firstSection article:first-child:first-letter, #firstSection article:nth-child(2):first-letter {
  font:2.9em "Times New Roman","MS Serif","New York",serif;
  margin: -0.35em 0 -0.25em 0
}
#firstSection article:first-child:first-letter,  x:-moz-any-link, x:default {
  font: 3.0em "Times New Roman","MS Serif","New York",serif;
  margin: -0.10em 0 -0.25em 0
}
#firstSection article:nth-child(2):first-letter {
  color: DarkGreen;
}
#firstSection article:nth-child(2):first-letter,  x:-moz-any-link, x:default{
  font: 2.9em "Times New Roman","MS Serif","New York",serif;
  color: DarkGreen;
  margin: -0.10em 0 -0.25em 0
}
#pageSection article {
  width: 100%;
  padding: 0 5px 0 5px;
  color: rgb(41, 83, 54);
}
article p {
  text-align: center;
  font: 1.1em 'Karma';
}
article h4 {
  padding-bottom: 10px
}
.maroon {
  color:#B22222;
}
#container{
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  justify-content: center;
  background-color: rgba(0,100,0, 0.4);
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px
}
#pageContainer {
  width: 100%;
  background:rgba(63,137,169,0.1);
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px
}
.imageGroup {
  transition: all 0.8s ease-in-out;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.newImageGroupClass {
  width: 0;
  -webkit-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  opacity: 0;   
}
.newImageGroupClass2 {
  width: 90% !important;
  -webkit-transform: translateX(0) scale(1) !important;
  transform: translateX(0) scale(1) !important;
  opacity: 1 !important;
}
#container > .imageGroup img {
  max-width: 291px;
  min-width: 291px;
}
#container > .imageGroup ~ .imageGroup {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 0;
  padding: 0;
  -webkit-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  opacity: 0;
}
#container > .imageGroup ~ .imageGroup img:nth-of-type(2) {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    
}
#container > .imageGroup ~ .imageGroup img:nth-of-type(3) {
    -webkit-transform: translate3d(0px,0px,0px);
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
}
#container > .imageGroup ~ .imageGroup img{
    max-width: 291px;
    min-width: 291px;
    height: auto;
}
#container > .imageGroup ~ .imageGroup #singleImage {
  max-width: 295px;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  border: 6px solid #ccc;
}
#container > .imageGroup ~ .imageGroup #singleImage:hover {
  -webkit-animation: animateLastImage;
  -webkit-animation-play-state: paused;
  -o-animation: animateLastImage;
  -o-animation-play-state: paused;
  animation: animateLastImage;
  animation-play-state: paused;
  border: 6px solid rgba(63,107,169,0.7);
}
#arrowRight {
  font-size: 2.6em;
  text-align: center;
  font-weight: 700;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s ease-in-out;
  position: relative;
}
#circleLeft {
  color: DarkGreen;
  opacity: 0;
  -webkit-transform: translateX(50px) rotateZ(120deg) scale(0);
  transform: translateX(50px) rotateZ(120deg) scale(0);
  font-size: 2.6em;
  text-align: center;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  position: relative;
}
#arrowRight:hover, #circleLeft:hover{
  color: purple;
  cursor: pointer
}
.newClassLeft {
  opacity: 1 !important;
  -webkit-transform: translateX(0) rotateZ(0deg) !important;
  transform: translateX(0) rotateZ(0deg) !important;
}
.newClassRight {
  opacity: 0 !important;
  -webkit-transform: translateX(-50px) rotateZ(120deg) scale(0) !important;
  transform: translateX(-50px) rotateZ(120deg) scale(0) !important;
}
.imageGroup img {
  background:rgba(235,247,255,0.5);
  padding: 7px;
  transition: all 0.5s ease-in-out;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}
.imageGroup img:nth-of-type(1) {
  z-index: 3;
  order: 0;
  border: 6px solid #ccc;
  transform: translateX(50px);   
  -webkit-transform: translate3d(50px,0,0);
}
.imageGroup img:hover:nth-of-type(1) {
  border: 6px solid rgba(63,107,169,0.7);
}
.imageGroup img:nth-of-type(1):hover ~ img:not(:nth-of-type(1)){
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
  border: 6px solid #ccc;
}
.imageGroup img:nth-of-type(2) {
  z-index: 2;
  order: 1;
  border: 6px solid DarkGreen;
  transition: all 1.2s ease-in-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.imageGroup img:hover:nth-of-type(2) {
  z-index: 5;
  border: 6px solid rgba(63,107,169,0.7);
  -webkit-animation: animateImage 0.5s ease-in-out;
  animation: animateImage 0.5s ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  transition: all 0.6s ease-in-out;   
}
.imageGroup img:hover:nth-of-type(2) ~ img:not(:nth-of-type(2)) {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
  border: 6px solid DarkGreen
}
.imageGroup img:nth-of-type(3) {
  z-index: 1;
  border: 6px solid #E8AA0C;
  order: 2;
  transition: all 1.2s ease-in-out;
  -webkit-transform: translate3d(0px,0px,0px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}
.imageGroup img:hover:nth-of-type(3) {
  z-index: 5;
  border: 6px solid rgba(63,107,169,0.7);
  -webkit-animation: animateLastImage 0.5s ease-in-out;
  animation: animateLastImage 0.5s ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes animateImage {
    50% {
      -webkit-transform: translateX(50px)     
    }
    100% {
      -webkit-transform: translateX(0)
    }
}
@-webkit-keyframes animateLastImage {
    50% {
      -webkit-transform: translateX(0)      
    }
    100% {
      -webkit-transform: translateX(-50px)
    }
}

@keyframes animateImage {
    50% {
      transform: translateX(50px) 
    }
    100% {
      transform: translateX(0)
    }
}
@keyframes animateLastImage{
    50% {
      transform: translateX(0)
    }
    100% {
      transform: translateX(-50px)
    }
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0.0)
  }
  100% {
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
#totalsList a {
  display: inline-block
}
#totalsList li:hover, #totalsList a:hover {
  color: DarkGreen !important;
  background: black;
  transition: all 0.8s ease-in-out;
}
#totalsList li:active {
  background-color:rgba(240,0,0,0.7);
  transition:all 0.2s ease-in-out;
  -webkit-transform: scale(0.8) translateY(5px);
  transform: scale(0.8) translateY(5px);
}
.tooltip:after {
  content:"";
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition:all 0.5s ease-in-out;
  -webkit-transform: scale(0);
  transform: scale(0);
  height: 60px;
  width: 360px;
  background: rgba(0,0,0,.8);
  border-radius: 15px;
  color: #fff;
  font-size: 1.0em
}
a.tooltip:hover:after {
  opacity: 1;
  content: attr(data-title);
  z-index: 98;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition:all 0.8s cubic-bezier(1,.01,.51,1.36);
}
p {
  padding: 10px 0;
}
#cd-nav ul {
  /* mobile first */
  list-style: none;
  position: fixed;
  width: 100%;
  max-width: 200px;
  right: 10px;
  top: 10px;
  border-radius: 0.25em;
  font: 300 1.1em/80% 'Oswald', serif;
  background: rgb(32, 98, 135);
  visibility: hidden;
  overflow: hidden;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  transition: transform 0.3s, visibility 0s 0.3s;
}
#cd-nav ul li {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%
}
#cd-nav a {
  color: white;
}
#cd-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}
#cd-nav li a {
  display: block;
  padding: 0.5em;
  border-bottom: 1px solid #CCC;
}
#cd-nav li:last-child a {
  border-bottom: none;
}
.cd-nav-trigger {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 44px;
  height: 44px;
  background: rgb(32, 98, 135);
  border-radius: 0.25em;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 3;
  border: none;
}
.cd-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: white;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  transition: background 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  content: '';
  position: absolute;
  left: 0;
  background: inherit;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.3s, background 0s;
}
.cd-nav-trigger span::before {
  top: -6px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.cd-nav-trigger span::after {
  bottom: -6px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.cd-nav-trigger.menu-is-open {
  box-shadow: none;
}
.cd-nav-trigger.menu-is-open span {
  background: rgba(232, 74, 100, 0);
}
.cd-nav-trigger.menu-is-open span::before, .cd-nav-trigger.menu-is-open span::after {
  background: #e84a64;
}
.cd-nav-trigger.menu-is-open span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-nav-trigger.menu-is-open span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
#cd-nav ul.is-visible {
  /* this class is used to bring back the navigation animation - as on touch devices */
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}
#cd-nav ul.is-hidden {
  /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: transform 0.3s;
}
.is-fixed .cd-nav-trigger {
  visibility: visible;
  transition: all 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: cd-bounce-in 0.3s linear;
  animation: cd-bounce-in 0.3s linear;
}
.hideGroup{
  display: none
}
.revealButtons {
  width: 50%;
  transition: all 0.8s ease-in-out;
  border: 6px solid rgb(32, 98, 135);
  font: 2.2em 'Oswald', sans-serif;
  overflow: hidden;
  position: relative;
  color: rgb(44, 44, 76);
}
.revealButtons:hover {
  border-color: rgba(63,107,169,0.7);
  box-shadow: 0 0 20px rgba(63,107,169,0.7);
  transition: all 0.5s cubic-bezier(0.2,0,0,1.80);
}
.revealButtons:active {
  border-color: rgba(163,107,169,0.7);
  box-shadow: 0 0 10px rgba(63,107,169,0.7);
}
ul section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
ul h4 {
  margin-bottom: 20px
}
ul img, .imgColumn img {
  position: relative;
  border: 2px solid rgb(121, 193, 234);
  z-index: 0;
  padding: 5px;
  transition: all 0.5s cubic-bezier(0.785,0.135,0.150,0.860);
}
.ulStyle {
  text-align: center;
}
.ulStyle img {
  height:auto;
  margin: 20px 5px
}
.p {
  width: 90%;
  background:rgba(235,247,255,0.3);
  border: 6px solid #ccc;
  border-radius: 15px;
  padding: 10px 0 20px 20px;
  margin: 20px auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
}
ol {
  position: relative;
  margin: 0;
  -webkit-flex: 1;
  flex: 1;
}
ol li {
  font-family: 'Karma', sans-serif;
  list-style-position: inside;
  font-size: 1.65vw;
  line-height: 150%;
  width: 98%;
  padding-right: 15px
}
/*Fixes Firefox bug where all numbers are zero*/
ol, x:-moz-any-link, x:default {
  counter-reset: section;
  list-style-type: none;
  list-style-position: inside;
}
ol li:before, x:-moz-any-link, x:default {
  line-height: 145%;
  counter-increment: section;        
  content: counters(section,"") ". ";
}
.red, .red2 {
  color: red
}
.imgColumn {
  min-width: 205px;
  padding-right: 20px;
  margin-top: 0;
  text-align: right;
}
.imgColumn li {
  list-style: none;
  margin-right: 0;
  margin-top: 80px;
  margin-left: 0;
  padding: 0;
}
.imgColumn img {
  width: 180px;
  transition: all 0.3s cubic-bezier(0.785,0.135,0.150,0.860);
  position: relative;
  cursor: pointer;
}
.imgColumn li:first-child {
  margin-top: 10px;
}
.imgColumn img:hover {
  box-shadow: 0 0 12px 1px rgba(0,0,0,.7);
  -webkit-transform: scale(2,2);
  transform: scale(2,2);
  -webkit-transform-origin: 80% 30%;
  transform-origin: 80% 30%;
  background: rgba(63,107,169,0.7);
  z-index: 4;
}
.inserts {
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  box-shadow: none;
  position: relative;
  color: rgb(32, 98, 135);
}
.inserts:visited {
  color: rgb(79, 150, 190);
}
.inserts:hover {
  background: rgba(63,137,169,0.4);
  box-shadow: 0 10px 8px -10px rgba(0,0,0,.9);
  padding: 8px;
  color: DarkGreen;
}
.overlap, .overlap2 {
  white-space: nowrap;
  width: 34.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  list-style-position: inside;
  margin-left: -22px;
}
.overlap2 {
  margin-left: -31px;
}
.overlap:hover, .overlap2:hover {
  z-index: 2;
  width: 73%;
}
.gap {
  margin-left: 5px;
}
.wider{
  width: 280px !important
}
.mini{
  width: 120px !important;
  height: auto
}
.fancybox-title-over-wrap {
  width: 100% !important;
  padding: 0 !important;
  text-align: center !important;
  font: 1em Georgia !important;
}
.fancybox-title-over-wrap > div {
  padding:7px !important;
}
.tall { /*for cards with greater heights then widths*/
  width: 130px !important;
}
.wide { /*for cards with greater widths then heights*/
  width: 190px !important;
}
h4 {
  text-align: center;
  margin: auto;
  font: 1.6em 'Oswald', sans-serif;
  width: 100%;
}
.openClose:hover {
  padding-left:300px;
}
.openClose:before, .openClose2:before, .openClose3:before {
  content:"";
  transition:all 0.6s ease-in-out;
}
.openClose:hover:before {
  content: "Open \2192";
  transition: all 0.6s ease-in-out;
  position: absolute;
  left: 160px
}
.openClose:active:before {
  content: "Opening ";
  transition: all 0.3s ease-in-out;
}
.openClose2:hover:before {
  content:"Close ";
  position: absolute;
  left: 10px;
}
.openClose3 {
  transition: all 0.6s ease-in-out;
}
.openClose3:hover {
  content: "Open/Close ";
  padding-left: 185px;
  transition: all 0.6s ease-in-out;
}
.openClose3:hover:before {
  content:"Open/Close ";
  position: absolute;
  left: 160px;
  transition: all 0.6s ease-in-out;
}
.float {
  position: relative;
  color: rgb(44, 44, 76);
  font-size: 1.4em;
  border-color: rgba(63,107,169,0.7);
  z-index: 2;
}
.float:hover {
  opacity: 1;
  padding-left: 110px;
  overflow: hidden;
  border: 6px solid #B22222;
  transition: all 0.4s ease-in-out;
  font-size: 2.7em;
}
#allCloseBar {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  height: 0;
  z-index: 1;
}
.closeBar {
  text-align: center;
  margin: 0 auto 10px auto;
  overflow: hidden;
  width: 100%;
}
.arrow-down {
  display: none;
  width: 0;
  height: 0;
  opacity: 0.7;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #B22222;
  transition: all 0.5s ease-in-out;
  position: absolute;
  background: transparent;
  cursor: pointer;
}
.arrow-down:hover {
  display: block;
  border-top: 20px solid rgba(63,107,169,1);
  transition: all 0.5s ease-in-out;
  
  opacity: 1;
}
.arrow-up {
  display:none;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #B22222;
  opacity: 0.7;
  position: absolute;
  top: 20px;
  transition: all 0.5s ease-in-out;
  background: transparent;
  cursor: pointer;
}
.arrow-up:hover, .arrow-up2:hover {
  border-bottom: 20px solid rgba(63,107,169,1);
  opacity: 1;
}
.overallInsertsTotal, .overallInsertsTotal2:hover {
  width:50%;
  transition:all 0.8s ease-in-out;
}
.overallInsertsTotal:hover, .overallInsertsTotal2:hover {
  cursor:pointer;
  border-color: rgba(63,107,169,0.7);
  box-shadow:0 0 20px rgba(63,107,169,0.7);
}
.overallInsertsTotal:before, .overallInsertsTotal2:before {
  transition: all 0.9s ease-in-out;
  background: rgba(0,0,0,0);
  content:'';
}
.overallInsertsTotal:hover:before {
  content:"How did I get these numbers?";
  position: absolute;
  top: 280px;
  color: white;
  width: 30%;
  left: 350px;
  background: rgba(0,0,0,0.7);
  transition: all 0.9s ease-in-out;
}
.overallInsertsTotal2:hover:before {
  content: attr(data-content) 'Please close all lists to view content';
  position: absolute;
  top: 280px;
  color: white;
  width: 40%;
  left: 295px;
  background-color: rgba(0,0,0,0.7);
  transition: all 0.9s ease-in-out;
}
.ulStyle li {
  list-style: none;
  font: 1.25em 'Oswald', sans-serif;
  background:rgba(255,255,255,0);
  border: 4px solid #ccc;
  border-radius:15px;
  padding:8px;
  display: inline-block;
}
ul span .red2{
  border: none;
  border-radius: 0;
  padding: 0;
  font-size: 1em;
}
.soldCards {
  color:red;
}
.thumbnail:hover, .thumbnailEndLeft:hover, .thumbnailEndRight:hover, .thumbnailEndBottom:hover {
  background: rgba(63,107,169,0.7);
  box-shadow: 0 0 6px 2px rgba(0,0,0,.8);
  -webkit-transform: scale(3,3);
  transform: scale(3,3);
  z-index: 1000;
  padding: 3px;
}
.thumbnail:hover{
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.thumbnailEndLeft:hover {
  -webkit-transform-origin: 30% 50%;
  transform-origin: 30% 50%;
}
.thumbnailEndRight:hover {
  -webkit-transform-origin:70% 50%;
  transform-origin:70% 50%;
}
.thumbnailEndBottom:hover {
  -webkit-transform-origin:50% 100%;
  transform-origin:50% 50%;
}
/*for the 404 page*/
.main-container {
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
}
.left, .right {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
}
.left {
  background: rgba(63,107,169,0.5);
}
.left img {
  margin: auto;
  width: 90%;
  height: auto;
  padding: 10px;
  background: rgba(255,255,255,0.3);
  border-radius: 15px
}
.right {
  list-style: none;
  background: rgba(63,107,169,0.7);
  padding: 0 10px 0 10px;
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.right > li:first-child {
  font-size: 2.4em;
  color: #ccc;
  margin-bottom: 20px;
}
.right > li:nth-child(2){
  font-size: 2em;
  color: #000;
  margin-bottom: 20px
}
.right > li:nth-child(n+3) {
  font-size: 1.5em;
  margin-bottom: 10px;
}
@media only screen and (max-width : 1024px) {
nav {
  font-size: 1em;
}
nav ul li {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
#totalsList {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: rgba(0,50,64,0.4);
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
  z-index: 200;
  padding: 0;
}
#totalsList li {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  list-style: none;
  transition:all 0.5s ease-in-out;
  color: black;
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(245,225,225,0.75);
}
#container{
  border: 2px solid black
}
#container > .imageGroup img {
  max-width: 191px;
  min-width: 191px;
  height: auto;
}
#container > .imageGroup ~ .imageGroup img{
  max-width: 191px;
  min-width: 191px;
}
.p {
  width: 96%;
  background:rgba(235,247,255,0.3);
  border: 6px solid #ccc;
  border-radius: 15px;
  padding: 10px 0 20px 20px;
  margin: 20px auto;
}
ol li {
  font-size: 2.0vw;
  line-height: 180%;
}
.totalGroup {
  font-size: 1.5em
}
.imgColumn img {
  width: 160px;
  transition: all 0.7s cubic-bezier(0.785,0.135,0.150,0.860);
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.wider{
  width: 220px !important
}
}
@media only screen and (max-width : 768px) {
  nav {
    display: none
  }
  #home {
    background: rgba(0,50,64,0.4) url('background.jpg') no-repeat center top / cover;
    height: 40vw;
  }
  #totalsList {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center; 
    background: rgba(0,50,64,0.4);
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    min-height: 50px;
    width: 100%;
    position: relative;
    z-index: 200;
    padding: 0;
    font: 1.05em 'Oswald', sans-serif;
  }
  #totalsList li {
    flex: 1 3%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    transition: all 0.5s ease-in-out;
    color: black;
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(225,225,225,0.75);
  }
  #totalsList li:nth-child(even) {
    max-width: 100%;
    background: rgba(0,50,64,0.3) !important;
    font-family: Arial;
    color: white !important;
    pointer-events: none
  }
  h1 {
    margin: auto;
    font-size: 1.5em;
  }
  #above, #below {
    display: none
  }
#firstSection article:first-child, #firstSection article:nth-child(2){  
  font: 100 1.0em/190% Georgia;
  padding: 20px 2% 10px 2%;
  background:rgba(63,107,169,0.3);
  width: 50%;
  -webkit-flex: 1;    
  flex: 1;
}
#firstSection article:nth-child(2){ 
  background:rgba(63,137,169,0.5);
}
.updates__title, .updates__article {
  width: 80%;
}
footer {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  justify-content: flex-start;
  background-color: #222c3a;
}
 #container > .imageGroup img {
  max-width: 123px;
  min-width: 123px;
  height: auto;
}
#container > .imageGroup ~ .imageGroup img{
  max-width: 137px;
  min-width: 137px;
}
.p {
  width: 100%;
  background:rgba(235,247,255,0.3);
  border: 6px solid #ccc;
  border-radius: 15px;
  padding: 10px 0 10px 10px;
  margin: 20px auto;
  z-index: 3
}
ol li {
  font-size: 1.3em;
  line-height: 150%;
}
.imgColumn {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  padding: 0;
  text-align: center;
  opacity: 0.1;
  pointer-events: none;
}
.inserts:hover {
  text-decoration: none;
  background: rgba(0,0,0,0);
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  color: DarkGreen;
}
.wider {
  width: 280px !important
}
.totalGroup {
  font-size: 1.6em;
  margin: 0 auto;
}
/*for the 404 page*/
.main-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.left {
  -webkit-align-items: center;
  align-items: center;
  padding: 0.5em;
}
.left-img {
  width: 100%;
}
.right {
  padding: 0 10px 0 10px;
}
.right > li:first-child {
  font-size: 1.8em;
  margin-top: 10px
}
.right > li:nth-child(2) {
  font-size: 1.5em;
  margin-bottom: 10px
}
.right > li:nth-child(n+3) {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.right > li:last-child {
  margin-bottom: 10px
}
}
@media only screen and (max-width : 480px) {
#home {
  min-height: 310px;
}
h1 {
  font-size: 1.1em;
}
#totalsList {
  display: none;
}
#totalsList li{
   display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    list-style: none;
  transition: none;
  text-decoration:none;
  color: black;
  max-height: 30px;
  min-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(245,225,225,0.7);
}
#totalsList li:nth-child(even) {
  max-width: 100%;
  font-size: 1.1em !important
}
#totalsList span{
  border:none;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  border-radius: none;
  padding: 0
}
#firstSection{
  width: 100%;
        display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    position: relative;
    justify-content: center;
    -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  text-align: left
}
#firstSection article:first-child{
    background:rgba(63,107,169,0.3);
	 font: 100 1.0em/200% Georgia;
 padding: 20px 2% 10px 2%;
 width: 100%;
 -webkit-flex: 1;         
  -ms-flex: 1;        
  flex: 1;
}
#firstSection article:nth-child(2){
   
background:rgba(63,137,169,0.5);
	 font: 100 1.0em/200% Georgia;
 padding: 20px 2% 10px 2%;
 width: 100%;
 -webkit-flex: 1;         
  -ms-flex: 1;        
  flex: 1;
}
#firstSection article:first-child:first-letter {
  font:3.0em "Times New Roman","MS Serif","New York",serif;
  margin: -0.35em 0 -0.25em 0
}
#firstSection article:first-child:first-letter,  x:-moz-any-link, x:default{
  font:3.0em "Times New Roman","MS Serif","New York",serif;
  margin: -0.10em 0 -0.25em 0
}
#firstSection article:nth-child(2):first-letter {
  font:2.9em "Times New Roman","MS Serif","New York",serif;
  color:DarkGreen;
  float:left;
  margin: -0.35em 0 -0.25em 0
}
#firstSection article:nth-child(2):first-letter,  x:-moz-any-link, x:default{
  font:2.9em "Times New Roman","MS Serif","New York",serif;
  color:DarkGreen;
  margin: -0.10em 0 -0.25em 0
}
.updates__title, .updates__article {
  width: 95%;
}
.updates__article .updates__content {
  font-size: 1em;
}
ol li {
  font-size: 1.0em;
  line-height: 145%
}
.totalGroup {
  font-size: 1.2em;
}
}
